:root {
  --primary-colour: #FF4E8D;
}

/* .App {
  text-align: center;
} */

.App {
  font-family: 'Nunito', sans-serif;
}

/* div {
  border: solid lightpink 0.25px;
} */

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 7.5vh;
  min-width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 3.5vmin);
  padding: 10vw;
  font-weight: 600;
  color: var(--primary-colour);
}

.body {
  background-color: #454a55;
  min-height: 90vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.selector-container {
  display: flex;
  justify-content: space-between;
}

.selector-row {
  display: flex;
  justify-content: space-between;
}

.flex-selector {
  width: 25vw;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.submit-button {
  width: 100vw;
  margin-top: 10px;
}

.secondary-border {
  border: 0.5vw solid white;
  background-color: transparent;
}

label > input { 
  visibility: hidden; 
  position: absolute; 
}

label > input:checked + .centered-flex-container { 
  border: 0.5vw solid white;
  background-color: var(--primary-colour) !important;
}

label > input:checked + .centered-flex-container > div {
  color: white !important;
}

.flex-even-spread {
  display: flex;
  margin: 0 auto;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bigblob {
  bottom: 0px;
  left: 0px;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  filter: url(#goo);
}

#blurFilter {
  position: fixed;
  width: 0;
  height: 0;
}

.blob, .glob {
  background: var(--primary-colour);
}

.form-closed.blob {
  position: fixed;
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  bottom: 12.5vw;
  left: 12.5vw;
  z-index: 5;
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1.4);
}

.form-closed.glob {
  position: fixed;
  width: 6vh;
  height: 6vh;
  border-radius: 100%;
  bottom: 14.5vw;
  left: 14.5vw;
  transition: all 600ms cubic-bezier(0.5, 0, 0.2, 1.4);
  visibility: hidden;
}

.form-open.blob {
  position: fixed;
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  bottom: 50vh;
  left: 78vw;
  z-index: 5;
  transition: all 600ms cubic-bezier(0.5, 0, 0.2, 1.4);
}

.form-open.glob {
  position: fixed;
  width: 180vw;
  height: 70vh;
  border-radius: 100%;
  bottom: -10vh;
  transition: all 600ms cubic-bezier(0.5, 0, 0.2, 1.4);
}

.hidden-class {
  visibility: hidden;
}

.form-open-icon-margin {
  margin-top: 4vh;
  margin-left: -1vw;
}

.form-closed-icon-margin {
  margin-top: 3vh;
}

.rect-input { 
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  font-size: 4vw;
  font-weight: 600;
  border: none;
  padding: 2vw;
  border-radius: 2vh;
  width: 80%;
  height: 9vh;
  background-color: white;
  outline: none;
}

.flex-input-container {
  display: flex;  
  justify-content: center; 
  align-items: center;
  margin-top: 2vh; 
  margin-bottom: 2vh;
}

.centered-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.even-container-margin {
  margin-top: 2vh; 
  margin-bottom: 2vh;
  width: 32vw;
}

.input-label {
  font-size: 5.5vw;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  z-index: 5;
}

.white-text {
  color: white;
}

.pink-text {
  color: var(--primary-colour)
}

button[type=submit]:active {
  color: var(--primary-colour) !important;
  background-color: white;
  border-color: var(--primary-colour) !important;
}

table {
  font-family: 'Nunito', sans-serif;
  border-collapse: separate;
  border-spacing: 0px;
  width: 100%;
}

td {
  color: #7A7A7A;
  font-weight: 500;
}

td, th {
  overflow-x:auto;
  text-align: left;
  padding: 5px;
  width: 20%;
  vertical-align: bottom;
  font-size: 0.8em;
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid #CECECE;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #F1F1F1;
}

th {
  background-color: white;
  font-weight: 600;
  text-align: center;
}

 /* top-left border-radius */
 table tr:first-child th:first-child {
     border-top-left-radius: 6px;
 }
 
 /* top-right border-radius */
 tr:first-child th:last-child {
     border-top-right-radius: 6px;
 }
 
 /* bottom-left border-radius */
 table tr:last-child td:first-child {
     border-bottom-left-radius: 6px;
 }
 
 /* bottom-right border-radius */
 table tr:last-child td:last-child {
     border-bottom-right-radius: 6px;
 }


 table tr td:last-child,
 table tr th:last-child {
  border-right: 1px solid #CECECE;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #CECECE;
}
table tr th{
  border-top: 1px solid #CECECE;
}